# Hail friend! 👋

My name is {{name}} ({{pronouns}}) and I'm {{occupation}} based in {{location}} with a love for all things design ✏📐 and development 💻. {{#current_job}} I’m currently working at {{current_job}} {{/current_job}} {{#past_jobs}} I've worked in the past at {{past_jobs}} {{/past_jobs}} 

## ☎️ Contact information

📧 [Email address]({{email}})

🐦 [Twitter]({{twitter}})

🔗 [LinkedIn]({{linkedin}})
